<% include ../partials/header %>
<% include ../partials/nav %>

<div class="container single-book-wrapper">
	<div class="row book-content">
		<div class="col-md-3">
			<img class="img-fluid" src="<%= book.thumbnail %>" alt="">
		</div>
		<div class="col-md-9">
			<h3 class="single-book-title"><%= book.title %></h3>
			<p><strong>Author:</strong> <%= book.author %></p>
			<p><strong>Trade by:</strong> <%= book.owner.username %></p>
			<p><%= book.summary %></p>
			<% if (currentUser && book.owner.id.equals(currentUser._id)) { %>
				<div class="btn-group">
					<a class="btn-link-inline" href="/books/<%=book._id%>/edit">Edit</a>
					<form class="delete-form" action="/books/<%=book._id%>/?_method=DELETE" method="post">
						<button class="btn-link-inline">Delete</button>
					</form>
				</div>
			<% } %>
		</div>
	</div><!--row-->
	<hr>
	<!-- Comment -->
	<div class="container comments-wrapper">
		<% if (!currentUser) { %>
			<p>Please <a href="/login">log in</a> to comment on this book</p>
		<% } else {%>
			<div class="add-comment">
				<a class="btn btn-info" href="/books/<%=book._id%>/comments/new">Add a comment</a>
			</div>
		<% } %>
		<% book.comments.forEach(function(comment) { %>
			<div class="row comment-box">
				<div class="col-md-12">
					<p class="comment-username"><%= comment.owner.username %></p>
					<p><%= comment.text %></p>
					<% if (currentUser && book.owner.id.equals(currentUser._id)) { %>
						<div class="comment-links btn-group">
							<a class="btn-link-inline" href="/books/<%=book._id%>/comments/<%=comment._id%>/edit">Edit</a>
							<form class="delete-form"  action="/books/<%=book._id%>/comments/<%=comment._id%>/?_method=DELETE" method="post">
								<button class="btn-link-inline">Delete</button>
							</form>
						</div>
					<% } %>
				</div>
			</div>
		<% }) %>
	</div>
</div><!--container/ single book wrapper-->

<% include ../partials/footer %>
